{% load django_browser_reload %}
{% load static %}


<!doctype html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <div class="App">
        <header class="App-header">
            <img src="{% static 'foton.jpeg'%}" class="App-logo" alt="logo" />
            <p>
                Andrés Lucendo <span class="heart">♥️</span> Albañil
            </p>
            <p class="small">
                <code>El mejor albañil de la zona </code>Consumo de 60 cigarros</code> y 3 litros de cerveza al día
            </p>
        </header>
    </div>
</body>

</html>
